bcrypt==5.0.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
flask==3.1.2
flask-bcrypt==1.0.1
flask-login==0.6.3
flask-sqlalchemy==3.1.1
greenlet==3.3.1
gunicorn==25.1.0
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
packaging==26.0
psycopg2-binary==2.9.11
sqlalchemy==2.0.46
typing-extensions==4.15.0
werkzeug==3.1.5
