{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="row">
      {% for pokemon in pokemons %}
        <div class="col-lg-3">
          <div class="card mt-4 card-pokemon">
            <a href="#">
              <img src="{{pokemon.img_url}}" alt="" class="card-img-top bg-secondary">
            </a>
            <div class="card-body">
              <h2 class="text-success">{{pokemon.name}}</h2>
              {% for type in pokemon.types %}
                <a href="#" class="btn btn-outline-secondary btn-sm">
                  {{type.name}}
                </a>
              {% endfor %}
              
            </div>
          </div>
        </div>
      {% endfor %}
      
    </div>
    <br>
    {% include "core/pagination.html" %}
  </div>
{% endblock %}
