{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="card mt-3 mb-3">
      <div class="card-header">
        <h2>Login Form</h2>
      </div>
      <div class="card-body">
        <form method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="username" required>
          </div>
          
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password" required>
          </div>
          
          <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-box-arrow-in-right"></i>
            Login</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


