{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3 mb-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="card mt-3">
      <div class="card-header">
        <h3>New Pokemon Form</h3>
      </div>
      <div class="card-body">
        <form method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Pokemon Name</label>
            <input name="name" type="text" class="form-control" id="name" required>
          </div>
          
          <div class="mb-3">
            <label for="weight" class="form-label">Pokemon Weight</label>
            <input name="weight" type="text" class="form-control" id="weight" required>
          </div>
          <div class="mb-3">
            <label for="height" class="form-label">Pokemon Height</label>
            <input name="height" type="text" class="form-control" id="height" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Pokemon Description</label>
            <textarea name="description" class="form-control" id="description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="img_url" class="form-label">Pokemon Image Url</label>
            <input name="img_url" type="text" class="form-control" id="img_url" required>
          </div>
          <div class="mb-3">
            <label for="pokemon_types" class="form-label">Pokemon Type</label>
            <select name="pokemon_types" class="form-select" aria-label="pokemon_types" multiple>
              {% for type in pokemon_types %}
                <option value="{{type.id}}">{{type.name}}</option>
              {% endfor %}
              
            </select>
          </div>
          <hr>
          <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-file-earmark-plus"></i>
            Add New Pokemon</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
